/* require('lib/blueprint/screen') */

html {
    height: 100%;
    padding-bottom: 1px;
}

.pb-widget dd {
    overflow: hidden;
}

.pb-widget dt div {
    white-space: nowrap;
}

.pb-widget dt .pb-widget-thumbnail { 
    display: none;
}

.pb-widget { 
    margin-top: 0; 
    margin-bottom: 4px;
}

.pb-widget {
    position: relative;
    min-height: 20px;
    min-width: 20px;
    overflow: visible;
}

.pb-container {
    position: relative;
    overflow: visible;
}

.pb-open-container {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.pb-schema {
    display: none;
}

.pb-widget.pb-collapsed dt .pb-widget-toolbar {
    display: none;
}

.pb-widget.pb-expanded dt .pb-widget-toolbar { 
    display: none;
}

.pb-last-container {
  margin-right: 0px !important;
}

.pb-last-widget {
  margin-bottom: 0px;
}