/* require('lib/blueprint/screen') */

html {
    height: 100%;
    padding-bottom: 1px;
}

.pb-widget {
    position: relative;
    margin-top: 0; 
    margin-bottom: 4px;
}

.pb-widget-panel {
    min-height: 26px;
    min-width: 26px;
}

.pb-widget .pb-widget-panel {
    overflow: hidden;
}

.pb-widget .pb-widget-thumbnail { 
    display: none;
}

.pb-container {
    position: relative;
}

.pb-open-container {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.pb-schema {
    display: none;
}

.pb-last-container {
    margin-right: 0px !important;
}

.pb-widget.pb-expanded.pb-last-widget,
.pb-widget.pb-pinned.pb-last-widget {
    margin-bottom: 0px;
}