/* require('lib/blueprint/screen') */
/* 
    Essential engine styles, these are part of the system and expected by editor.
    These are not considered to be skinnable.
    If you are looking for default skin styles, see "skin" folder.
*/
/* -------------------------------------------------------------------------------------------
   persistent vertical scrollbar
*/

html {
    height: 100%;
    padding-bottom: 1px;
}

/* -------------------------------------------------------------------------------------------
   container
*/

.pb-container {
    position: relative;
}

.pb-open-container {
    margin-top: 5px !important;
    margin-bottom: 5px !important;
}

.pb-schema {
    display: none;
}

.pb-last-container {
    margin-right: 0px !important;
}

/* -------------------------------------------------------------------------------------------
   widget
*/

.pb-widget {
    position: relative;
    margin-top: 0; 
    margin-bottom: 4px;
}

.pb-widget-panel {
    min-height: 26px;
    min-width: 26px;
}

.pb-widget .pb-widget-panel {
    overflow: hidden;
}

.pb-widget .pb-widget-thumbnail { 
    display: none;
}

.pb-widget.pb-expanded.pb-last-widget,
.pb-widget.pb-pinned.pb-last-widget {
    margin-bottom: 0px !important;
}

.pb-widget.pb-collapsed.pb-last-widget {
    margin-bottom: 10px !important;
}

/* -------------------------------------------------------------------------------------------
   notification
*/

.pb-notification {
    position: absolute;
    top: 0;
    left: 0;
    background-color: red;
    height: 20px;
    line-height: 20px;
    color: white;
    font-weight: bold;
    padding: 2px 6px;
}

.pb-notification img.pb-loader {
    display: none;
    margin: 2px 8px;
    position: absolute;
}

.pb-notification.pb-notification-loader {
    padding-right: 30px;
}

.pb-notification-loader img.pb-loader {
    display: inline;
}