.hp-bio-small {
    line-height: 1px;
}

.hp-bio-small .hp-avatar {
    margin-right: 6px;
    min-height: 30px;
}

.hp-bio-small .hp-name {
    font-size: 16px;
    margin: 0px;
    position: relative;
    top: -8px;
}